<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <billink>
                <api_version>BILLINK2.0</api_version>
                <active>0</active>
                <title>Billink Payment Method</title>
                <debug>0</debug>
                <sort_order>2</sort_order>
                <use_workflow>workflow_all</use_workflow>
                <workflow>{"workflow_P":{"type":"Private","number":"3","max_amount":"400","is_with_check":"1"},"workflow_B":{"type":"Business","number":"3","max_amount":"500","is_with_check":"1"}}</workflow>
                <is_alternate_delivery_address_allowed>1</is_alternate_delivery_address_allowed>
                <fee_type>1</fee_type>
                <fee_label>Billink service kosten</fee_label>
                <model>BillinkPaymentFacade</model>
                <order_status>processing</order_status>
                <payment_action>order</payment_action>
                <currency>EUR</currency>
                <can_order>1</can_order>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_gateway>1</is_gateway>
                <is_invoice_email_enabled>1</is_invoice_email_enabled>
            </billink>
            <billink_midpage>
                <api_version>BILLINK2.0</api_version>
                <active>0</active>
                <title>Achteraf betalen</title>
                <debug>0</debug>
                <sort_order>1</sort_order>
                <model>BillinkMidpagePaymentFacade</model>
                <order_status>processing</order_status>
                <payment_action>capture</payment_action>
                <currency>EUR</currency>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_initialize>1</can_initialize>
                <can_use_internal>1</can_use_internal>
                <session_timeout_minutes>30</session_timeout_minutes>
                <can_capture_partial>0</can_capture_partial>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_use_checkout>1</can_use_checkout>
                <trust_score>0</trust_score>
                <fee_type>1</fee_type>
                <fee_label>Betaalkosten</fee_label>
            </billink_midpage>
        </payment>
        <sales>
            <totals_sort>
                <billink_midpage_fee>39</billink_midpage_fee>
            </totals_sort>
        </sales>
    </default>
</config>
