.billink-payment-method-logo {
  max-width: 150px;
  max-height: 45px;
  vertical-align: middle;
  margin-right: 15px;
}

.action-edit-address {
  margin: 10px 0 0 0;
}

#form-billink {
  .fieldset {
    background: #f5f5f5;

    .step-title {
      padding: 0 12px;

      .title {
        border-bottom: 1px solid #cccccc;
        padding: 12px 0;
      }
    }

    > .field {
      padding: 12px 12px;
      margin: 0;

      .label {
        font-weight: 600;
      }
    }

    .update {
      text-align: right;
    }

    &.address {
      margin: 0;
    }

    .payment-method-billing-address {
      padding: 0 12px;
    }

    .checkbox {
      padding: 0 12px 12px 12px;
    }
  }

  .billing-address-form {
    max-width: 100%;

    .fieldset {
      border-top: 1px solid #cccccc;

      .field {
        padding: 12px 0;
      }
    }
  }

  .field-select-billing, .billing-address-details {
    display: none;
  }
}