<div class="payment-method" data-bind="visible: isSelectedWorkflow(), if: !disablePaymentMethods(), css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <img class="billink-payment-method-logo" data-bind="attr:{src: getLogo()}" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <form id="form-billink" class="form" data-mage-init='{"validation": {}}' method="post" action="#">
            <div class="payment-method-billing-address" data-bind="if: isAlternateDeliveryAddressAllowed()">
                <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>

            <fieldset data-bind="attr: {class: 'fieldset ' + getCode(), id: 'payment_form_' + getCode()}">
                <legend>
                    <span class="title"><!-- ko i18n: 'Billink Billing Information'--><!-- /ko --></span>
                    <button class="action action-edit" data-bind="click: editBillingAddress">
                        <span data-bind="i18n: 'edit'">edit</span>
                    </button>
                </legend>

                <div id="billing-address-details">
                    <label class="label"><!-- ko i18n: 'Name'--><!-- /ko -->: </label>
                    <span data-bind="text: inputFields['firstname']"></span> <span data-bind="text: inputFields['middlename']"></span> <span data-bind="text: inputFields['lastname']"></span>

                    <div data-bind="visible: inputFields[getCode() + '_company']">
                        <label class="label"><!-- ko i18n: 'Company'--><!-- /ko -->: </label>
                        <span data-bind="text: inputFields[getCode() + '_company']"></span>
                        <div data-bind="visible: inputFields[getCode() + '_chamber_of_commerce']()">
                            <label class="label"><!-- ko i18n: 'Chamber of commerce'--><!-- /ko -->: </label>
                            <span data-bind="text: inputFields[getCode() + '_chamber_of_commerce']"></span>
                        </div>
                        <div data-bind="visible: inputFields[getCode() + '_email2']()">
                            <label class="label"><!-- ko i18n: 'Invoice e-mail address'--><!-- /ko -->: </label>
                            <span data-bind="text: inputFields[getCode() + '_email2']"></span>
                        </div>
                    </div>

                    <div>
                        <label class="label"><!-- ko i18n: 'Street and housenumber'--><!-- /ko -->: </label>
                        <span data-bind="text: inputFields[getCode() + '_street']"></span>
                        <span data-bind="text: inputFields[getCode() + '_house_number']"></span>
                        <span data-bind="text: inputFields[getCode() + '_house_extension']"></span>
                    </div>

                    <div>
                        <label class="label"><!-- ko i18n: 'City and postcode'--><!-- /ko -->: </label>
                        <span data-bind="text: inputFields['city']"></span>,
                        <span data-bind="text: inputFields['postcode']"></span><br>

                        <label class="label"><!-- ko i18n: 'Country'--><!-- /ko -->: </label>
                        <span data-bind="text: inputFields['countryId']"></span><br>

                        <label class="label"><!-- ko i18n: 'Telephone'--><!-- /ko -->: </label>
                        <span data-bind="text: inputFields['telephone']"></span>
                    </div>
                </div>

                <!-- ko if: selectedCustomerType -->
                    <!-- ko if: isSelectedType('B') -->
                        <div class="field required"
                             data-bind="attr: {id: getCode() + '_customer_company'}, visible: !inputFields[getCode() + '_company']()">
                            <label data-bind="attr: {for: getCode() + '_customer_company'}" class="label">
                                <span><!-- ko i18n: 'Company'--><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <input type="text" name="payment[customer_company]"
                                       data-validate="{required:true}"
                                       data-bind="value: inputFields[getCode() + '_company']"/>
                            </div>
                        </div>

                        <div class="field required"
                             data-bind="attr: {id: getCode() + '_customer_chamber_of_commerce'}, visible: !inputFields[getCode() + '_chamber_of_commerce']() || toggle">
                            <label data-bind="attr: {for: getCode() + '_customer_chamber_of_commerce'}" class="label">
                                <span><!-- ko i18n: 'Chamber of commerce'--><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <input type="text" name="payment[customer_chamber_of_commerce]"
                                       data-validate="{required:true}"
                                       data-bind="value: inputFields[getCode() + '_chamber_of_commerce']"/>
                            </div>
                        </div>

                        <div class="field"
                             data-bind="attr: {id: getCode() + '_customer_email2'}, visible: !inputFields[getCode() + '_email2']() || toggle">
                            <label data-bind="attr: {for: getCode() + '_customer_email2'}" class="label">
                                <span><!-- ko i18n: 'Invoice e-mail address'--><!-- /ko --></span>
                            </label>
                            <div class="control">
                                <input type="text" data-bind="value: inputFields[getCode() + '_email2']"/>
                            </div>
                        </div>
                    <!--/ko-->

                    <!-- ko if: isSelectedType('P') -->
                    <div class="field required" data-bind="attr: {id: getCode() + '_customer_birthday_div'}">
                        <label data-bind="attr: {for: getCode() + '_customer_birthdate'}" class="label">
                            <span><!-- ko i18n: 'Birthday'--><!-- /ko --></span>
                        </label>
                        <div class="control">
                            <input type="date"
                                   min="1900-01-01" max="2100-01-01"
                                   style="width: 100%"
                                   data-bind="value: inputFields[getCode() + '_customer_birthdate']"
                                   data-validate="{required:true}"
                                   name="payment[customer_birthday]" class="datepicker" id="calendar_inputField"/>
                        </div>
                    </div>
                    <!--/ko-->

                <div class="field required"
                     data-bind="attr: {id: getCode() + '_customer_street_name'}, visible: !inputFields[getCode() + '_street']()">
                    <label data-bind="attr: {for: getCode() + '_customer_street_name'}" class="label">
                        <span><!-- ko i18n: 'Street name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" data-bind="value: inputFields[getCode() + '_street']"
                               maxlength="100" name="payment[customer_street_name]"
                               data-validate="{required:true}"/>
                    </div>
                </div>
                <div class="field required"
                     data-bind="attr: {id: getCode() + '_customer_house_number'}, visible: !inputFields[getCode() + '_house_number']()">
                    <label data-bind="attr: {for: getCode() + '_customer_house_number'}" class="label">
                        <span><!-- ko i18n: 'House number'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" data-bind="value: inputFields[getCode() + '_house_number']"
                               maxlength="20" name="payment[customer_house_number]" data-validate="{required:true}"/>
                    </div>
                </div>

                <div class="field"
                     data-bind="attr: {id: getCode() + '_customer_reference'}">
                    <label data-bind="attr: {for: getCode() + '_customer_reference'}" class="label">
                        <span><!-- ko i18n: 'Reference'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" data-bind="value: inputFields[getCode() + '_reference']" name="payment[customer_reference]"/>
                    </div>
                </div>
                <!--/ko-->
                <!-- ko if: isTelephoneEmpty() -->
                    <div class="field required"
                         data-bind="attr: {id: getCode() + '_telephone'}, visible: !inputFields['telephone']()">
                        <label data-bind="attr: {for: getCode() + '_telephone'}" class="label">
                            <span><!-- ko i18n: 'Telephone'--><!-- /ko --></span>
                        </label>
                        <div class="control">
                            <input type="text" name="payment[customer_telephone]"
                                   data-validate="{required:true}"
                                   data-bind="value: inputFields[getCode() + '_telephone']"/>
                        </div>
                    </div>
                <!--/ko-->

                <span>
                    <!-- ko i18n: 'You must be at least 18+ to use this service. If you pay on time, you will avoid additional costs and ensure that you can use Billink\'s services again in the future.'--><!-- /ko -->
                </span>

                <div class="checkbox required"
                     data-bind="attr: {id: getCode() + '_terms_agreement'}">
                    <div class="control">
                        <label class="label">
                            <input type="checkbox"
                                   data-validate="{'required':true}"
                                   data-bind="value: inputFields[getCode() + '_terms_agreement'], attr: {id: getCode() + '_terms_agreement'}"
                                   maxlength="100" name="payment[terms_agreement]"/>
                            <span><!-- ko i18n: 'I agree with' --><!-- /ko -->
                                <a href="https://www.billink.nl/docs/gebruikersvoorwaarden.pdf" target="_blank">
                                    <!-- ko i18n: 'the terms and conditions of Billink'--><!-- /ko -->
                                </a>
                            </span>
                        </label>
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar" style="margin-top: 20px">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="payment-method" data-bind="if: disablePaymentMethods(), css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" class="radio" disabled/>
        <label class="label">
            <span style="color: gray" data-bind="text: getTitle()"></span>
        </label>
    </div>
</div>
